@using OgrenciNotMvc.Models.EntityFramework
@model List<TBLNOTLAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Not ID</th>
        <th>Öğrenci ID</th>
        <th>Ders ID</th>
        <th>Not 1</th>
        <th>Not 2</th>
        <th>Not 3</th>
        <th>Proje</th>
        <th>Ortalama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach (var not in Model)
        {
        <tr>
            <td>@not.NOTID</td>
            <td>@not.OGRID</td>
            <td>@not.DERSID</td>
            <td>@not.SINAV1</td>
            <td>@not.SINAV2</td>
            <td>@not.SINAV3</td>
            <td>@not.PROJE</td>
            <td>@not.ORTALAMA</td>
            <td>@not.DURUM</td>
            <td><a href="~/Notlar/NotGetir/@not.NOTID" class="btn btn-success">Güncelle</a></td>
        </tr>
        }
    </tbody>
</table>
<a href="~/Notlar/YeniSinav" class="btn btn-primary">Yeni Sınav Girişi</a>